#projects {
    background-color: #55aaff9d;
    display: flex;
    place-items: center;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: min(95%, 1500px);
    margin: auto;
    padding: 2rem 0;
    gap: 2.5rem;
}
