.project-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    min-height: clamp(80px, 15vh, 180px);
    width: min(90vw, 1000px);
    padding: 0.5rem;
    background-color: white;
    color: black !important;
    box-shadow: 0 0 1rem gray;
    margin: 2rem;
    font-size: min(2vh, 2.4vw, 18px);
}

.project-tile img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 50% 0%;
    height: clamp(80px, 15vh, 180px);
}

.project-text {
    width: calc(100% - clamp(80px, 15vh, 180px));
    min-height: clamp(80px, 15vh, 180px);
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-title {
    font-family: "Gloria Hallelujah", cursive;
    max-width: 100%;
    width: max-content;
    height: 1.8em;
    font-size: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    color: black !important;
    border-bottom: 0.2em solid black;
}

.project-description {
    color: black !important;
    text-align: left;
    font-size: 1.2em;
}

.project-technologies {
    width: 100%;
    color: black !important;
    font-size: 1em;
    margin-bottom: 0.2em;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
}

@media (max-width: 600px) {
}
