.highlight {
    background-color: white !important;
    cursor: pointer;
    transition: 100ms 0ms;
}

.highlight * {
    color: #203a8c !important;
    transition: 100ms 0ms;
}

/* .null {
    border: 1px solid red;
} */
