.highlight {
    background-color: white !important;
    cursor: pointer;
    transition: 100ms 0ms;
}

.highlight * {
    color: #203a8c !important;
    transition: 100ms 0ms;
}

.enlarge {
    transform: scale(1.08);
    transition: 300ms;
}

.normal {
    transition: 150ms;
}
