header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8rem;
    background-color: #203a8c;
}

.logo h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 4rem;
    margin-left: 1.5rem;
    height: 5rem;
    width: 40rem;
    overflow: visible;
    color: white;
}

.logo .narrow {
    display: none;
}

.logo .narrow span {
    display: block;
}

.line1 {
    margin-left: 0;
}
.line2 {
    margin-left: 12vw;
}
.line3 {
    margin-left: 21.5vw;
}

@media (max-width: 600px) {
    header {
        height: 13rem;
        flex-direction: column;
    }
    .logo h2 {
        width: 100vw;
        font-size: 4.2rem;
        height: 7rem;
        padding-top: 0.6rem;
    }
}
