.difficulty-slider {
    position: absolute;
    left: 1rem;
    top: 30vh;
    border: 0rem solid #550;
    border-radius: 1rem;
    background-color: #5555;
}

.difficulty-button {
    display: block;
    height: calc(min(90vw, 600px, 90vh) / 6);
    width: calc(min(90vw, 600px, 90vh) / 6);
    background-color: #0000;
    color: white;
    font-weight: 900;
    font-size: calc(min(90vw, 600px, 90vh) / 25);
    opacity: 0.5;
    border-radius: 1rem;
}

.active-difficulty {
    background-color: #898900;
    opacity: 1;
    height: calc(min(90vw, 600px, 90vh) / 6);
    width: calc(min(90vw, 600px, 90vh) / 6);
    border: calc(min(90vw, 600px, 90vh) / 100) solid black;
}
