.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(min(90vw, 600px) / 3);
    width: min(90vw, 600px);
    background-color: #5555;
    border-radius: 1rem;
    margin: 1rem;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.key {
    height: calc(min(90vw, 600px) / 12);
    width: calc(min(90vw, 600px) / 12);
    background-color: #898900;
    color: white;
    font-weight: 800;
    font-size: calc(min(90vw, 600px) / 20);
    border-radius: 0.5rem;
    margin: calc(min(90vw, 600px) / 200);
}

.spacer {
    background-color: transparent;
    border: transparent;
}

.chosen {
    opacity: 0.2;
}
