.word {
    display: flex;
    color: white;
    height: 10rem;
    margin-top: 1rem;
}

.word-char {
    width: calc(min(90vw, 600px) / 12);
    height: calc(min(90vw, 600px) / 9);
    text-align: center;
    font-size: calc(min(90vw, 600px) / 12);
    border-bottom: calc(min(90vw, 600px) / 120) solid white;
    margin: calc(min(90vw, 600px) / 150);
}

.word-char-won {
    color: greenyellow;
    border-bottom: calc(min(90vw, 600px) / 120) solid greenyellow;
}

.word-char-lost {
    color: orangered;
    border-bottom: calc(min(90vw, 600px) / 120) solid orangered;
}
