#tech-logo-diameter {
    position: absolute;
    height: min(70vh, 95vw);
}

#tech-logo-diameter img {
    height: min(14rem, 14vw);
    width: min(14rem, 14vw);
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 2rem;
    background-color: #fff5;
    animation: rotate 60s linear infinite reverse;
}

#tech-logo-local-offset {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
