#tech-logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    gap: 5rem;
}

.tech-logo {
    width: max(5vw, 5vh);
    height: max(5vw, 5vh);
    max-width: 10rem;
    max-height: 10rem;
    background-color: #fff4;
    padding: 1rem;
    border-radius: 1rem;
}
