:root {
    --text: white;
    scroll-behavior: disable;
    font-size: clamp(6px, 0.6vw, 10px);
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    border: 0px solid black;
    margin: 0;
    color: var(--text);
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

section {
    height: 100%;
}

.hidden {
    display: none;
}
