:root {
    --text: white;
    scroll-behavior: disable;
    font-size: clamp(6px, min(0.6vw, 0.6vh), 10px);
    position: absolute;
    scroll-behavior: smooth;
    min-height: 100vh;
    height: max-content;
    width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0px solid red;
    margin: 0;
    color: var(--text);
}

#root {
    display: flex;
    flex-direction: column;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 8rem;
    min-height: 100%;
    width: 100%;
    height: max-content;
}

.hidden {
    display: none;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .page {
        padding-top: 13rem;
    }
}
