nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Work Sans", sans-serif;
    height: 100%;
    margin-right: 3rem;
    border-left: 1px solid #0005;
    border-right: 1px solid #0005;
}

nav a,
nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17rem;
    text-align: center;
    text-decoration: none;
    font-size: 3.5rem;
}

nav .normal {
    border-left: 1px solid #0005;
    border-right: 1px solid #0005;
}

@media (max-width: 600px) {
    nav {
        border-top: 1px solid #0005;
        margin-right: 0;
        width: 100%;
        border-left: none;
        border-right: none;
    }
    nav .normal {
        border-left: none;
        border-right: none;
    }
    nav a {
        padding: 1rem;
        width: calc(100% / 3);
    }

    nav div {
        width: calc(100% / 3);
    }
}
